
<router-outlet></router-outlet>

<div class="container">
  <h1>Datos Usuario</h1>
  <form #userForm="ngForm">

    <div class="form-group">

      <div *ngFor="let form of forms">
        <div *ngIf="form.type === 'select'">
          <label for={{form.name}}>{{form.label}}</label>
          <select class="form-control" id="{{form.name}}"
                  [required]="form.validation.required"
                  [(ngModel)]="model[form.schemaAttribute]" name="{{form.name}}"
                  #combobox="ngModel">
            <option *ngFor="let option of form.options" [value]="option.value"  [disabled]="option.disabled">{{option.text}}</option>
          </select>
          <div [hidden]="combobox.valid || select.pristine" class="alert alert-danger">
            {{combobox.valid}}
          </div>

        </div>


        <div *ngIf="form.type !== 'select' && form.type !== 'birthday'">

          <div class="form-group">

          <label for={{form.name}}>{{form.label}} </label>

          <input type="text"
                 placeholder="{{form.placeholder}}"
                 class="form-control" id="{{form.name}}"
                 [required]="form.validation.required"
                 [(ngModel)]="model[form.schemaAttribute]" name={{form.name}}
                 #input="ngModel">
          <div [hidden]="input.valid || input.pristine"
               class="alert alert-danger">

            {{form.validation.messages.required}}
          </div>

        </div>
        </div>

        <div *ngIf="form.type === 'birthday'">
          <div class="form-group">
            <label for={{form.name}}>{{form.label}}</label>
            <input type="date"
                   class="form-control" id="{{form.name}}"
                   [required]="form.validation.required"
                   [value]="form.value"
                   [(ngModel)]="model[form.schemaAttribute]" name={{form.name}}
                   #input="ngModel">
            <div [hidden]="input.valid || input.pristine"
                 class="alert alert-danger">
              {{form.validation.messages.required}}
            </div>
          </div>


        </div>


      </div>
    </div>
    <h5>{{userForm.form.valid}} </h5>
    <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid"  (click)="onSubmit()" >{{buttonText}}</button>

    <h5>{{model | json}} </h5>

    <h5>Valid Form:{{userForm.form.valid}} </h5>

  </form>
</div>




<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
